@import 'tailwindcss';

@custom-variant dark {
	@media (prefers-color-scheme: dark) {
		&:not(.light *) {
			@slot;
		}
	}
	&:is(.dark *) {
		@slot;
	}
}

@theme {
	--color-body-50: oklch(var(--body-color-50));
	--color-body-100: oklch(var(--body-color-100));
	--color-body-200: oklch(var(--body-color-200));
	--color-body-300: oklch(var(--body-color-300));
	--color-body-400: oklch(var(--body-color-400));
	--color-body-500: oklch(var(--body-color-500));

	--color-primary-50: oklch(var(--primary-color-50));
	--color-primary-100: oklch(var(--primary-color-100));
	--color-primary-200: oklch(var(--primary-color-200));
	--color-primary-300: oklch(var(--primary-color-300));
	--color-primary-400: oklch(var(--primary-color-400));
	--color-primary-500: oklch(var(--primary-color-500));
	--color-primary-600: oklch(var(--primary-color-600));
	--color-primary-700: oklch(var(--primary-color-700));
	--color-primary-800: oklch(var(--primary-color-800));
	--color-primary-900: oklch(var(--primary-color-900));
	--color-primary-950: oklch(var(--primary-color-950));

	--color-input: oklch(var(--input-color));

	--color-text-100: oklch(var(--text-color-100));
	--color-text-200: oklch(var(--text-color-200));
	--color-text-300: oklch(var(--text-color-300));
	--color-text-400: oklch(var(--text-color-400));
	--color-text-500: oklch(var(--text-color-500));
	--color-text-600: oklch(var(--text-color-600));
	--color-text-700: oklch(var(--text-color-700));
	--color-text-800: oklch(var(--text-color-800));
	--color-text-900: oklch(var(--text-color-900));

	--text-custom-md: var(--font-size-1);
	--text-custom-lg: var(--font-size-2);
	--text-custom-xl: var(--font-size-3);
	--text-custom-2xl: var(--font-size-4);
	--text-custom-3xl: var(--font-size-5);
	--text-custom-4xl: var(--font-size-6);
	--text-custom-5xl: var(--font-size-7);
}

@layer base {
	:root {
		interpolate-size: allow-keywords;
		color-scheme: light;

		--isDarkMode: 0;
		--hue-color: 277deg;
		--neutral-chroma: 0.0125;

		--lightness-lightest: 0.97;
		--lightness-darkest: 0.2;
		--lightness-diff: calc(var(--lightness-lightest) - var(--lightness-darkest));

		/*==================================================
			Font
			startValue + (endValue - startValue) * (((index - 1) / (totalNumber - 1)) ^ 1.5)
		==================================================*/
		--font-size-1: 1rem;
		--font-size-2: 1.1360827635rem;
		--font-size-3: 1.3849001795rem;
		--font-size-4: 1.7071067812rem;
		--font-size-5: 2.0886621079rem;
		--font-size-6: 2.5214515486rem;
		--font-size-7: 3rem;

		/*==================================================
			Body colors
		==================================================*/
		--body-step: calc(0.05 * (-1 + 2 * var(--isDarkMode)));
		--body-base: calc(var(--lightness-lightest) - var(--lightness-diff) * var(--isDarkMode));

		--body-lightness-50: calc(var(--body-base) + (var(--body-step) * 0));
		--body-color-50 : var(--body-lightness-50) var(--neutral-chroma) var(--hue-color);

		--body-lightness-100: calc(var(--body-base) + (var(--body-step) * 1));
		--body-color-100: var(--body-lightness-100) var(--neutral-chroma) var(--hue-color);

		--body-lightness-200: calc(var(--body-base) + (var(--body-step) * 2));
		--body-color-200: var(--body-lightness-200) var(--neutral-chroma) var(--hue-color);

		--body-lightness-300: calc(var(--body-base) + (var(--body-step) * 3));
		--body-color-300: var(--body-lightness-300) var(--neutral-chroma) var(--hue-color);

		--body-lightness-400: calc(var(--body-base) + (var(--body-step) * 4));
		--body-color-400: var(--body-lightness-400) var(--neutral-chroma) var(--hue-color);

		--body-lightness-500: calc(var(--body-base) + (var(--body-step) * 5));
		--body-color-500: var(--body-lightness-500) var(--neutral-chroma) var(--hue-color);

		/*==================================================
			Primary colors
			calc lightness: (lightestLightness - darkestLightness) * ((i - totalAmountOfColors) / totalAmountOfColors) + darkestLightness
			calc chroma: (primaryChroma / primaryLightness) * (primaryLightness - abs(currentLightness - primaryLightness))
		==================================================*/
		--primary-lightness-50: calc(var(--lightness-diff) * (10 / 10) + var(--lightness-darkest));
		--primary-chroma-50: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-50) - var(--primary-lightness-500))));
		--primary-color-50: var(--primary-lightness-50) var(--primary-chroma-50) var(--hue-color);

		--primary-lightness-100: calc(var(--lightness-diff) * (9 / 10) + var(--lightness-darkest));
		--primary-chroma-100: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-100) - var(--primary-lightness-500))));
		--primary-color-100: var(--primary-lightness-100) var(--primary-chroma-100) var(--hue-color);

		--primary-lightness-200: calc(var(--lightness-diff) * (8 / 10) + var(--lightness-darkest));
		--primary-chroma-200: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-200) - var(--primary-lightness-500))));
		--primary-color-200: var(--primary-lightness-200) var(--primary-chroma-200) var(--hue-color);

		--primary-lightness-300: calc(var(--lightness-diff) * (7 / 10) + var(--lightness-darkest));
		--primary-chroma-300: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-300) - var(--primary-lightness-500))));
		--primary-color-300: var(--primary-lightness-300) var(--primary-chroma-300) var(--hue-color);

		--primary-lightness-400: calc(var(--lightness-diff) * (6 / 10) + var(--lightness-darkest));
		--primary-chroma-400: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-400) - var(--primary-lightness-500))));
		--primary-color-400: var(--primary-lightness-400) var(--primary-chroma-400) var(--hue-color);

		--primary-lightness-500: calc(var(--lightness-diff) * (5 / 10) + var(--lightness-darkest));
		--primary-chroma-500: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-500) - var(--primary-lightness-500))));
		--primary-color-500: var(--primary-lightness-500) var(--primary-chroma-500) var(--hue-color);

		--primary-lightness-600: calc(var(--lightness-diff) * (4 / 10) + var(--lightness-darkest));
		--primary-chroma-600: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-600) - var(--primary-lightness-500))));
		--primary-color-600: var(--primary-lightness-600) var(--primary-chroma-600) var(--hue-color);

		--primary-lightness-700: calc(var(--lightness-diff) * (3 / 10) + var(--lightness-darkest));
		--primary-chroma-700: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-700) - var(--primary-lightness-500))));
		--primary-color-700: var(--primary-lightness-700) var(--primary-chroma-700) var(--hue-color);

		--primary-lightness-800: calc(var(--lightness-diff) * (2 / 10) + var(--lightness-darkest));
		--primary-chroma-800: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-800) - var(--primary-lightness-500))));
		--primary-color-800: var(--primary-lightness-800) var(--primary-chroma-800) var(--hue-color);

		--primary-lightness-900: calc(var(--lightness-diff) * (1 / 10) + var(--lightness-darkest));
		--primary-chroma-900: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-900) - var(--primary-lightness-500))));
		--primary-color-900: var(--primary-lightness-900) var(--primary-chroma-900) var(--hue-color);

		--primary-lightness-950: calc(var(--lightness-diff) * (0 / 10) + var(--lightness-darkest));
		--primary-chroma-950: calc((0.2 / var(--primary-lightness-500)) * (var(--primary-lightness-500) - abs(var(--primary-lightness-950) - var(--primary-lightness-500))));
		--primary-color-950: var(--primary-lightness-950) var(--primary-chroma-950) var(--hue-color);

		/*==================================================
			Text colors
		==================================================*/
		--text-color-100: abs(0.90 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
		--text-color-200: abs(0.80 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
		--text-color-300: abs(0.70 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
		--text-color-400: abs(0.60 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
		--text-color-500: abs(0.50 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
		--text-color-600: abs(0.40 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
		--text-color-700: abs(0.30 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
		--text-color-800: abs(0.20 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
		--text-color-900: abs(0.10 - 1 * var(--isDarkMode)) var(--neutral-chroma) var(--hue-color);
	}

	/*==================================================
		Dark mode switch
	==================================================*/
	html.dark {
		--isDarkMode: 1;
		color-scheme: dark;
	}

	*,
	::before,
	::after {
		border-color: transparent;

		outline-color: transparent;
		outline-width: 2px;
		outline-style: solid;
		outline-offset: 2px;

		transition-property: none;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
	}

	*:focus-visible {
		outline-color: var(--color-primary-500);
	}

	::selection {
		color: var(--color-primary-50);
		background: var(--color-primary-500);
	}

	html {
		scroll-padding-top: 4rem; /* header is 4rem */
		hanging-punctuation: first last;
	}

	body,
	.paper,
	dialog > * {
		color: var(--color-text-700);
		font-family: "Inter", sans-serif;
		font-optical-sizing: auto;
		font-size: var(--font-size-1);
		font-weight: 400;
		font-style: normal;
		line-height: 1.5;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: var(--color-text-800);
		font-weight: 600;
		text-wrap: balance;
	}

	h1 {
		color: var(--color-text-900);
		font-size: var(--font-size-7);
	}

	h2 {
		font-size: var(--font-size-6);
	}

	h3 {
		font-size: var(--font-size-5);
	}

	h4 {
		font-size: var(--font-size-4);
	}

	h5 {
		font-size: var(--font-size-3);
	}

	h6 {
		font-size: var(--font-size-2);
	}

	p {
		text-wrap: pretty;
	}

	a {
		color: var(--color-primary-600);
	}

	.dark a {
		color: var(--color-primary-400);
	}

	.paper {
		--font-size-1: .6875rem;
		--font-size-2: 0.7098606798rem;
		--font-size-3: 0.7507455532rem;
		--font-size-4: 0.8036895004rem;
		--font-size-5: 0.8663854382rem;
		--font-size-6: 0.9375rem;
		--font-size-7: 1.75rem;

		& h1,
		& h2 {
			font-weight: 600;
		}

		& h3,
		& h4 {
			font-weight: 500;
		}
	}

	.align-center {
		vertical-align: middle;
		margin-block-start: calc(1ex - 1cap);
	}

	/*==================================================
		hamburger icon
	==================================================*/
	.hamburger-button .path1,
	.hamburger-button .path3 {
		stroke-dasharray: 60 207;
	}
	.hamburger-button .path2 {
		stroke-dasharray: 60 60;
	}
	.hamburger-button[aria-expanded='true'] .path1,
	.hamburger-button[aria-expanded='true'] .path3 {
		stroke-dasharray: 90 207;
		stroke-dashoffset: -134;
	}
	.hamburger-button[aria-expanded='true'] .path2 {
		stroke-dasharray: 1 60;
		stroke-dashoffset: -30;
	}

	/*==================================================
		make section take up the full viewport - header
	==================================================*/
	.breakout-wrapper {
		--gap: 2rem;
		--full: minmax(var(--gap), 1fr);
		--breakout: minmax(0, var(--gap));
		--content: min(100% - var(--gap) * 2, 80rem); /* 80rem = 1280px */

		display: grid;
		grid-template-columns:
			[full-start] var(--full)
			[\2xl-start] var(--breakout)
			[xl-start] var(--breakout)
			[lg-start] var(--breakout)
			[md-start] var(--breakout)
			[sm-start] var(--breakout)
			[content-start] var(--content) [content-end]
			var(--breakout) [sm-end]
			var(--breakout) [md-end]
			var(--breakout) [lg-end]
			var(--breakout) [xl-end]
			var(--breakout) [\2xl-end]
			var(--full) [full-end];

		& > * {
			grid-column: content;
		}

		& > .col-sm {
			grid-column: sm;
		}

		& > .col-md {
			grid-column: md;
		}

		& > .col-lg {
			grid-column: lg;
		}

		& > .col-xl {
			grid-column: xl;
		}

		& > .col-2xl {
			grid-column: \2xl;
		}

		& > .col-full {
			grid-column: full;
		}
	}


	/*==================================================
		max height allowed on the header
	==================================================*/
	.heroSection {
		min-height: calc(min(62.5rem, 100svh) - 4rem);
	}

	/*==================================================
		make details animated
	==================================================*/
	details {
		overflow: hidden;
	}

	/*! don't add margin or padding here !*/
	details::details-content {
		block-size: 0;
		transition-property: block-size, content-visibility;
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-behavior: allow-discrete;
	}

	/*! don't add margin or padding here !*/
	details:open::details-content {
		block-size: auto;
	}


	/*==================================================
		code blocks
	==================================================*/
	.shiki {
		overflow-x: scroll;
		overflow-y: clip;

		counter-reset: step;
		counter-increment: step 0;

		border-radius: 0.5rem;
		padding: 1rem;
	}

	.shiki .line::before {
		content: counter(step);
		counter-increment: step;
		width: 1rem;
		margin-right: 1.5rem;
		display: inline-block;
		text-align: right;
		color: rgba(115,138,148,.4)
	}

	.dark .shiki,
	.dark .shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}

	@media (prefers-reduced-motion: no-preference) {
		:has(:target) {
			scroll-behavior: smooth;
		}
	}

	@keyframes cursorBlink {
		50% {
			opacity: 0;
		}
	}

	@media print {
		* {
			text-rendering: geometricPrecision;
			color-adjust: exact;
			print-color-adjust: exact;
			image-rendering: high-quality;
			shape-rendering: geometricPrecision;
			background-clip: content-box;
		}
	}
}
